{% extends 'base.html' %}


{% block content %}
{% load static %}
    <div class="container-xxl bg-white p-0">

        <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="{{ post.rel_comp_comp.company_logo.url }}" alt="" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h3 class="mb-3">{{ post.jobtitle }}</h3>
                                <h5 class="mb-3">{{ post.rel_comp_comp.company_name }}</h5>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ post.location }}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ post.jobtype }}</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>₹{{ post.price_range }}</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3">Job description</h4>
                            <p>{{ post.job_discription }}</p>
                            <h4 class="mb-3">Responsibility</h4>
                            <p>{{ post.required }}</p>
                            <h4 class="mb-3">Qualifications</h4>
                            <p>{{ post.education }}</p>
                        </div>
        
                        <div class="">
                            <h4 class="mb-4">Apply For The Job</h4>
                            
                            <form  method="post">
                                {% csrf_token %}

                                {% if request.user.id in apl %}
                                    <p style="border: 2px solid;width: fit-content;padding: 2px;background-color: rgb(223, 188, 188);">Already Applied</p>
                                {% else %}
                                    <!-- <input type="checkbox" name="apply"> -->
                                    <button id="my-button" class="apl" >Apply</button>
                                {% endif %}
  
                            </form>
                        </div>
                    </div>
                    {{apl.rel_profile_id}}
                    <!-- <a href="{% url 'apply_sts' post.id %}"><button>{% if apl.apply_status %} Apply {% else %} Closed {% endif %} </button></a> -->

                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Job Summery</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{ post.posttime }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{ post.vacancy }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: {{ post.vacancy }} </p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: ₹{{ post.price_range }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{ post.location }}</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: {{ post.last_date }}</p>
                        </div>
                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Company Detail</h4>
                            <p class="m-0">{{ post.rel_comp_comp.about_us_discpt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->
        <script>
            const button = document.getElementById('my-button');
            button.disabled = false;
        </script>

</html>
{% endblock content %}